<a href="#" class="list-group-item clearfix" (click) = "onSelected()">
    <div class="pull-left">
        <h4 class="list-group-item-heading"> {{recipe.name}}</h4>
        <p class="list-group-item-text">{{recipe.description}}</p>
    </div>

    <!-- 
            this is greate exmaple where you can use string interpolation or property binding
            src="{{recipe.imagePath}}"  -> String Interpolation
            [src]="recipe.imagePath"    -> Property Binding
         -->
    <span class="pull-right">
        <img [src]="recipe.imagePath" alt="recipe.name" class="img-responsive" style="max-height: 50px;">
    </span>
</a>
