<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-10 col-nd-8 col-sm-offset">
      <form (ngSubmit) = "onSubmit()" #f = 'ngForm'>
        <div id="user-data" 
        ngModelGroup="userData"
         #userData = "ngModelGroup">
          <div class="form-group">
            <label for="Email">email</label>
            <input 
            ngModel
            type="email"
            id = 'email'
            class = "form-control"
            name="email"
            email
            required>
          </div>
          <div class = "form-group">
            <label for="password">Password</label>
            <input 
            ngModel
            name="password"
            id = "password"
            type="text"
            class="form-control"
            #password = "ngModel"
            required>
          </div>
          <span class="help-block" *ngIf = "!password.valid && password.touched">Please enter a vlaid pasword</span>
        </div>
        <p *ngIf = "!userData.valid && userData.touched">User Data is invalid</p>
        <div class="form-group" id="secret" [ngModel] = "defaultSubScription">
          <label for="subscription">Choose your Subscriptions?</label>
          <select name="subscription" id="subscription" class="form-control">
            <option 
            *ngFor = "let subscription of subscriptions"
            [value]="subscription"
            >{{subscription}}</option>
            <!-- <option value="Advance">Advance</option>
            <option value="pro">Pro</option> -->
          </select>
        </div>
        <button 
        class="btn btn-primary" 
        type="submit"
        [disabled] = "!f.valid"
        >Submit
        </button>
      </form>
    </div>
  </div>
</div>
<hr>
<div class="row" *ngIf = "submitted">
  <div class="col-xs-12">
    <h3>Your Data</h3>
    <p>UserName:{{user.email}}</p>
    <p>Password:{{user.password}}</p>
    <p>Subscription:{{user.subscription}}</p>
  </div>
</div>